amqp
asgiref
billiard
celery==5.2.2
certifi
chardet
click
click-didyoumean
click-plugins
click-repl
Django
djangorestframework
djangorestframework-simplejwt
idna
kombu
prompt-toolkit
Pygments
PyJWT
pytz
redis==3.5.3
requests
router
six
sqlparse
urllib3
vine
wcwidth
django-cors-headers
