<html>
<head> 
<title> send email </title>
</head>
<body>
<h1> Hello Amazing human, </h1>
<p> This is a confirmation email that you will be attending our event.</p>
<p> Add to the calendar so that you will get a reminder to avoid missing the event. </p>
<p> We cannot wait to have you attend. </p>
<p> Happy coding!!!! </p>

{% comment %} <h1>{{dt}}</h1> {% endcomment %}
</h1>
<a href="https://calendar.google.com/calendar/r/eventedit?text={{eve.name}}&dates={{dt}}&details=For+details,+link+here:+https://example.com/tickets-43251101208&location=Garage+Boston+-+20+Linden+Street+-+Allston,+MA+02134"> add to calendar </a>
</body>
</html>